.btn {
  border-radius: $border-radius;
}

.btn-default {
  background-color: $bluechill;
  color: $midnight;
  border-color: $wedgewood;
  font-weight: 600;
  padding: 10px 20px;
}

.btn-default:hover {
  background-color: $midnight;
  border-color: $wedgewood;
  color: $lemon;
}

.btn-default:active {
  background-color: $wedgewood;
  border-color: $wedgewood;
  color: $lemon;
}

.btn-default:focus {
  background-color: $wedgewood;
  border-color: $wedgewood;
  color: $lemon;
}
