.btn {
  border-radius: $border-radius;
}

.btn-default {
  background-color: $orange;
  border-color:     $purple;
  color:            $purple;
  font-weight:      600;
  padding:          10px 20px;
  @include transition(background-color 0.5s, color 0.5s, border-color 0.5s);
}

.btn-default:hover {
  background-color: $purple;
  color:            $orange;
  border-color:     $orange;
}

.btn-default:active, .btn-default:focus {
  background-color: darken($purple, 10%);
  border-color:     $orange;
  color:            $orange;
}
