// Colors
$wedgewood: rgb(73, 120, 146);
$midnight:  rgb(0, 35, 65);
$lemon:     rgb(245, 216, 21);
$bluechill: rgb(15, 151, 155);
$wildsand:  rgb(245, 245, 245);

// Global border radius
$border-radius: 0;
