// Colors
$purple:   rgb(50, 55, 140);
$offblack: rgb(36, 37, 38);
$grey:     rgb(125, 134, 140);
$orange:   rgb(217, 157, 85);
$red:      rgb(166, 68, 68);

// Global border radius
$border-radius: 0;

// Typography
$bold: 600;
