<div class="container">
  <h1>About the Application</h1>
  <h2>Credit</h2>
  This application was written by Ellis Clayton (S2895971) as part of a university assignment for 3723ICT: Educational Design in Multimedia at Griffith University.
  <h2>Content Sources</h2>
  <ul>
    <li><a href="https://www.ato.gov.au/Individuals/Investing/In-detail/Children-and-under-18s/Children-s-savings-accounts/?page=2" target="_blank">Children's savings accounts | Australian Taxation Office</a></li>
    <li><a href="https://www.ato.gov.au/Individuals/Tax-file-number/" target="_blank">Tax file number | Australian Taxation Office</a></li>
    <li><a href="http://www.taxpayer.com.au/KnowledgeBase/10084/Individuals-Tax-Super/What_are_tax_file_numbers" target="_blank">What are tax file numbers?</a></li>
  </ul>
</div>
