<div class="container">
  <div class="home-menu">
    <h1>Tax File Numbers: Who Needs Them?</h1>
    <div class="home-controls">
      <a class="btn btn-default" href="#/what" role="button">What are they?</a>
      <br />
      <i class="fa fa-long-arrow-down"></i>
      <br />
      <a class="btn btn-default" href="#/why" role="button" ng-class="{disabled: progress < 1}">Why should I get one? <i class="fa fa-lock pull-right" ng-show="progress < 1"></i></a>
      <br />
      <i class="fa fa-long-arrow-down"></i>
      <br />
      <a class="btn btn-default" href="#/how" role="button" ng-class="{disabled: progress < 2}">How do I get one? <i class="fa fa-lock pull-right" ng-show="progress < 2"></i></a>
    </div>
  </div>
</div>
