<div class="container">
  <h1>How Do I Get a Tax File Number?</h1>

  <h2>Online or Paper</h2>
  <p>You can apply for a Tax File Number by filling out a form. This form can be filed out online, or physically. The physical forms can be retrieved at any Australia Post outlet. There's no real difference in processing times for either method, so it's entirely up to you how you apply.</p>

  <h2>Post Office</h2>
  <p>Filling out a form is the first step to getting a Tax File Number. Once you've filled out the application, you'll need to head to a post office to have your identity verified. Make sure you bring all the identification you can find! Birth certificates, driver's licences, Medicare cards and passports are all acceptable forms of ID. Once your identity is verified, your application will usually take a couple of weeks to be processed. You'll then receive a letter in the mail advising you of your new Tax File Number. After that, you're done. There's nothing more required. You've got your life-long Tax File Number!</p>
  <a href="#/how/quiz" class="btn btn-default">Take the quiz</a>
</div>
