<div class="container">
  <h1>What is a Tax File Number?</h1>

  <h2>Recognition in Tax and Super systems</h2>
  <p>Almost 13 million people sent a tax return to the government in 2013. And this is a number that only increases with every financial year. That's a lot of tax returns to process! With this many people, it's inevitable there's going to be more than one John Smith, and more than one shared birthday, and with no true identification between all these people, processing 13 million tax returns would be a recipe for trouble.</p>
  <p>Needless to say, the government needs something to identify every taxpayer in a way that doesn't discriminate, or cause confusion. Enter the Tax File Number.</p>

  <h2>A reference number, for you</h2>
  <p>A Tax File Number is a number given to you by the Australian Government. This number is used to uniquely identify you within the Australian tax and super systems. The number never changes. Not even if you change your name, your job, or move to Mars and back! It never costs you anything (in fact, it can save you money! But more on that later). And most importantly, it gives you something to identify your tax and superannuation with.</p>
  <a href="#/what/quiz" class="btn btn-default">Take the quiz</a>
</div>
