<div class="container">
  <h1>Why Should I Get a Tax File Number?</h1>

  <h2>Simplicity</h2>
  <p>Tax File Numbers are not compulsory, so you don't need to worry about getting one right now, or before you're an adult, or anything like that. But if you do get one, it is a number that won't ever change for you. There's no renewal process, and no paperwork involved with maintaining it after you have it.</p>
  <p>Because of how easy and useful Tax File Numbers are, they have become somewhat expected to possess.</p>
  <ul>
    <li>Most employers will expect you to have a Tax File Number.</li>
    <li>In situations where you need to provide one or more forms of identification (like getting your Driver's Licence), a Tax File Number is often a suggested ID.</li>
  </ul>

  <h2>Benefits</h2>
  <p>Having a Tax File Number carries a range of benefits to you. The most common benefit, and arguably the most useful is that there is less tax charged to you. If you have a job but don't have a Tax File Number, your employer will be required to withhold income tax, just as they would for every other employee. But without a Tax File Number, you cannot claim any of that income tax back at the end of the financial year. Some money back is better than no money back, right?</p>
  <p>Superannuation is also made to be a much simpler thing to deal with when you have a Tax File Number. When you start a job, your employer can set up a super fund for you, or you can nominate an existing super fund. In either case, when you have a Tax File Number, your super gets linked to the number, which allows the Tax office to automatically find your superannuation details, with no input from you!</p>
  <p>Centrelink assistance is also made possible with a Tax File Number. If you're heading to university, you might be able to get financial assistance from Centrelink to help you pay for basic needs while you're at university. But to do this, Centrelink will require you to have a Tax File Number. Just as is the case with superannuation, when your Centrelink assistance is joined to your Tax File Number, the Tax Office will be able to retrieve all your Centrelink details and history for you, all from the Tax File Number.</p>
  <a href="/#/why/quiz" class="btn btn-default">Take the quiz</a>
</div>
