<div class="container">
  <h1>What is a Tax File Number? - Quiz</h1>

  <p>What is the purpose of a Tax File Number?</p>
  <div class="radio">
    <label>
      <input type="radio" name="purpose" value="1" checked />
      To identify every taxpayer in a way that doesn't discriminate, or cause confusion.
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="purpose" value="2" />
      To identify each tax return submitted to the Australian Tax office.
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="purpose" value="2" />
      To identify each tax invoice sent to taxpayers.
    </label>
  </div>


</div>
